{{! Your file/folder structure MUST be set up this way for Handlebars.js to work correctly. You will always have a main layout located at (and named) views/layouts/main.handlebars. All other template files will go directly in the views folder (views/welcome.handlebars). }}

{{! This page is for your headers and footer that will show on all pages }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Team Builder</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
        <h1>Pokemon Team Builder</h1>
      <nav>
        {{!-- logout isn't going to be a page users can visit, so make a button but style to look like a link --}}
        {{#if loggedIn}}
        <button id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>

</body>

</html>