{{! Your file/folder structure MUST be set up this way for Handlebars.js to work correctly. You will always have a main layout located at (and named) views/layouts/main.handlebars. All other template files will go directly in the views folder (views/welcome.handlebars). }}

{{! This page is for your headers and footer that will show on all pages }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/x-icon" href="https://cdn.shopify.com/s/files/1/0589/0424/8493/collections/Pokeball-PNG-Image-16821_1440x.png?v=1629256704">
    <link rel="stylesheet" href="css/style.css"
    <title>Pokemon Team Builder</title>
</head>

<body>
  
  <header class="pkmnjumbtron ">

    <div class="imagelogo">
      <img class="pokemon-logo" 
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1920px-International_Pok%C3%A9mon_logo.svg.png" 
        alt="Pokemon Logo">
    </div>

    <div class="container">
      <div class="row">
        <h1 class=" ptb-title col-xs center-block">Pokemon Team Builder</h1>
        <nav class="log-buttonol col float-right">
          {{!-- logout isn't going to be a page users can visit, so make a button but style to look like a link --}}
          {{#if loggedIn}}
          <a id="logout" type="button" class="btn btn-primary" role="button">Log Out</a>
          {{else}}
          <a href="/login" class="btn btn-primary " role="button">Login or Sign Up</button></a>
          {{/if}}
        </nav>
    </div>
  </header>

  <main>
    {{{ body }}}
  </main>

  <footer class="footer sticky-botto">
    <div class="copyright"> Created By Best Team! © BestTeam </div>
    <div class="copyright-message">Please don't copy</div>
  </footer>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
    crossorigin="anonymous">
  </script>
</body>

</html>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}