{{! This is the home that you will land on "/"}}

<div class="text-center container">
    <h1 class="white-text row-align-item-center">
       Welcome to our Pokemon Team Build Site!
    </h1>
    <h2 class="black-text row-align-item-center">
        If you have an account with us please sign in! If you are new please make an account!
    </h2>
    <img class="pokemon-hello" 
        src="https://c.tenor.com/rbx3ph5SLRUAAAAi/pikachu-pokemon.gif" 
        alt="Pokemon Hello">
</div>

<footer class="footer2">
    <div class="copyright"> Created By Best Team! © BestTeam </div>
    <div class="copyright-message">Please don't copy</div>
</footer>
