{{! This is the login-sign-up that you will land on "/login_signup"}}

{{!login part}}
<img class="pika-cute" src="https://pixy.org/src/108/1088380.png" alt="pikachu-cute"> 

<div class="login card mx-auto login-card" style="width: 18rem;">
    <div class="card-body ">
        <h3 class="card-title red-text">Login</h3>
        <div>
            <form action="login">
                <input class="margin-input" type="text" id="username" name="username" placeholder="Username">
                <input class="margin-input" type="password" id="password" name="password" placeholder="Password">
                <br>
                <a href="/team" class="login-btn btn btn-dark" type="button">Login</a>
            </form>
        </div>
    </div>
</div>

{{!signup part}}
<div class="signup card mx-auto signup-card" style="width: 18rem;">
    <div class="card-body ">
        <h3 class="card-title red-text">Sign Up</h3>
        <div>
            <form action="signup">
                <input class="margin-input" type="text" id="username" name="username" placeholder="Username">
                <input class="margin-input" type="password" id="password" name="password" placeholder="Password">
                <button href="/team" class="signup-btn btn btn-dark" type="button">Sign Up</button>
            </form>
        </div>
    </div>
</div>



