.pokemon-holder {
 display: flex;
 flex-wrap: wrap;
 box-sizing: border-box;
text-align: center;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.pokemon-link {
    text-decoration: none;
    color: black;
    padding: 20px;
    border: 2px;
    text-align: center;
}